.flexAdditionalItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
.AdditionalText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.AdditionalText label {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.AdditionalText span {
  color: gray;
}
.switch {
  margin-left: 0;
  justify-self: left;
}
